body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin:auto;
}

h1{
    font-size: 80px;
    margin: 25px;

}
.box{
    background-color:#FDE49C;
    padding:70px 10px; 
    width: 360px;
    margin:20px 10px;
    
    
}
.flex-container{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 380px;
    margin: auto;
  
}

.flex-container p{
    background-color: #FFB740;
    font-size: 30px;
    padding: 20px 10px;
    width: 100px;
    margin: 3.5px;
    text-align: center;
}
p:hover
{
    background-color: red;
}
.flex-container #dot{
    width:250px ;
}

.box #ans{
    text-align: right;
    font-size: 25px;

}